# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db

# Generated outputs
outputs/

# Trained model files
models/*.pkl